<div class="recipe">
<h1><%= @recipe.name %></h1>
<h3>created by: <%= link_to @recipe.user.username, user_path(@recipe.user) %></h3>


    <h3>Average Rating: <%= @recipe.average_rating %></h3>
    <h3>Main Spirit: <%= @recipe.main_spirit.name %></h3>
    <h3>Ingredients: <%= @recipe.ingredients %></h3>
    <h3>Directions: <%= @recipe.directions %></h3>


<% if @recipe.user == current_user %>
    <%= button_to "Edit Cocktail", edit_recipe_path(@recipe), method: 'get', class:"button" %>
    <%= button_to "Delete Cocktail", recipe_path(@recipe), method: 'delete', class:"button" %>
<% end %>
</div>
<br>

<h3>Leave a Review:</h3>
<%= render partial: '/reviews/form' %>
<br>

<% if !@recipe.reviews.empty? %>

    <h2>Reviews</h2>



    <% @recipe.reviews.reverse.each do |r| %>
    <div class="review">
        <strong>Reviewer: <%= link_to r.user.username, user_path(r.user) %></strong><br>
        <strong>Rating: <%= r.rating %></strong><br>
        <p><%= r.content %></p>
        <% if r.user == current_user %>
        <%= link_to "Edit", edit_review_path(r) %> | <%= link_to "Delete", review_path(r), method: 'delete' %>
        <% end %>
    </div>
    <br>
    <% end %>
<% end %>


