<h1><%= @user.username %></h1>
<h2>All of <%= @user.username %>'s cocktails: </h2>

<ul>
    <% @user.recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
</ul>

<%= link_to "See Reviews", user_reviews_path(@user), class:"button" %>
<%= link_to "See Reviewed Recipes", user_reviewed_recipes_path(@user), class:"button" %>
