<!DOCTYPE html>
<html>
  <head>
    <title>BarmaidsTale</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <div class="topnav">
    <ul>
      <li><strong><%= link_to "Home", root_path %></strong></li> 
      <% if !logged_in? %>
        <li><strong><%= link_to "Signup", signup_path %></strong></li> 
        <li><strong><%= link_to "Login", login_path %></strong></li>
        <li><strong><%= link_to "Login with Google", 'auth/google_oauth2', method: 'post' %></strong></li>
      <% else %>
        <li><strong><%= link_to "Logout", logout_path, method: 'delete' %></strong></li>
      <% end %>
      <li><strong><%= link_to "View Cocktails", recipes_path %></strong></li>
    </ul>
  </div>



  <body>

  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

    <%= yield %>



  </body>

  
</html>
